body {
    background-image: url(backg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}
#main {
    background-color:  rgba(5, 10, 5, 0.615);
    width: 100vw;
    min-height: 100vh;
    padding-top: 20px;
}
#head {
    position: relative;
    left:80%;
}
#start {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    font-size: 35pt;
}
#near {
    color:transparent;
    -webkit-text-stroke: 1px brown;
}
#content {
    position: relative;
    left: 50px;
    bottom: 100px;
    display: flex;
}
.mean {
    color:white;
    font-size: 20pt;
    margin:15px;
}
.mean:hover {
    transform: scale(1.05);
    transition: 0.4s;
    border-bottom: 2px solid blue;
    text-shadow: 0 0 15px  blue
                0 0 30px blue;
}
.info {
    color:white;
    position: relative;
    top:200px;
    left: 50x;
    font-size: 20pt;
}
#img {
    position: relative;
    left: 700px;
    bottom: 150px;
    width: 800px;
    height: auto;
}